<html>
    <head>
    </head>
    <body>
        <a href="/example/"><< home</a>
        {{#task}}
        <h2>task: {{title}}</h2>
        <ul>
            <li>
                content:
                <input type="text" name="content" id="content" value="{{content}}" />
            </li>
            <li>
                {{#member}}
                    assigned to {{member.name}}
                    <button class="cancel_assign_btn">cancel</button>
                {{/member}}
                {{^member}}
                    not assigned
                {{/member}}
            </li>
        </ul>
        <span>
            assign:
            {{#assignableMembers}}
                <button class="assign_btn" data="{{id}}">{{name}}</button>
            {{/assignableMembers}}
        </span>
        {{/task}}

        <script>
            const cancelAssignBtn = document.querySelector('.cancel_assign_btn');
            if (cancelAssignBtn != null) {
                cancelAssignBtn.addEventListener('click', e => {
                    fetch("/tasks/{{task.id}}/cancel-assign/", {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                    .then(resp => resp.json())
                    .then(data => window.location.reload(true));
                });
            }

            document.querySelectorAll('.assign_btn').forEach(btn => {
              btn.addEventListener('click', e=> {
                const memberId = e.target.attributes['data'].value;
                fetch(`/tasks/{{task.id}}/assign/${memberId}/`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(resp => resp.json())
                .then(data => window.location.reload(true));
              });
            });
        </script>
    </body>
</html>