<html>
    <head>
    </head>
    <body>
        <a href="/"><< home</a>
        <h2>비디오 추가하기</h2>
        <form method="POST">
            <input type="text" name="title" placeholder="title" />
            <input type="text" name="description" placeholder="content" />
            <input type="submit" value="submit" />
        </form>
    </body>
</html>
