{{#partial "content"}}
<a href="/"><< home</a>
<h2>add member</h2>
<form method="POST">
    <input type="text" name="name" placeholder="name" />
    <input type="submit" value="submit" />
</form>
{{/partial}}

{{>member/include/base}}
