{{#partial "content"}}
<div class="card card-login mx-auto mt-5">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">{{ CAKE.CHOCO}}이메일</label>
        <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email" value="{{ DEFAULT_EMAIL}}">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">비밀번호</label>
        <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember Password</label>
        </div>
      </div>
      <a class="btn btn-primary btn-block" href="index.html">Login</a>
    </form>
    <div class="text-center">
      <a class="d-block small mt-3" href="/register">Register an Account</a>
      <a class="d-block small" href="/forgot-password">Forgot Password?</a>
    </div>
  </div>
</div>
{{/partial}}

{{>account/include/base}}
