<html>
  <head>
  </head>
  <body>
    <div>{{ name }}</div>
    <hr />
    <h2>create post</h2>
    <form>
        <input type="text" name="content" id="post_content" />
        <input type="text" name="user" id="post_user" />
        <input type="button" id="post_submit" value="submit" />
    </form>
    <script>
        document.querySelector('#post_submit').addEventListener('click', () => {
            const content = document.querySelector('#post_content').value;
            const user = document.querySelector('#post_user').value;
            console.log({ content, user });
            fetch('/post/', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ content, user }),
            })
            .then(resp => resp.json())
            .then(data => console.log(data));
        });
    </script>
  </body>
</html>