<html>
    <head>
    </head>
    <body>
        <h2>overall</h2>
        <h3>tasks</h3>
        <ul>
        {{#task_summaries}}
            <li>
                <a href="/example/tasks/{{id}}/">
                    {{title}}
                    {{#member}}(assigned to {{member}}){{/member}}
                    {{^member}}(not assigned){{/member}}
                </a>
            </li>
        {{/task_summaries}}
        </ul>
        <hr />

        <h3>members</h3>
        <ul>
            {{#members}}
                <li>
                  <a href="/example/members/{{id}}/">{{name}}</a>
                  ({{createdAt}})
                </li>
            {{/members}}
        </ul>
        <hr />

        <div>
            <a href="/example/add-member/">add member</a>
        </div>
        <div>
            <a href="/example/add-task/">add task</a>
        </div>
    </body>
</html>